<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
     <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" >
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
     <link rel="stylesheet" href="styles/style.css">
     <script type="text/javascript" src="js/jquery.min.js"></script>
     <script type="text/javascript" src="js/player.js"></script>
  </head>
  <body>
    <div class="container">

      <!-- GOOGLE INFORMATION -->

      <div class="page-header text-center">
          <h3 class="text-danger"><span class="fa fa-youtube"></span> YouTube</h3>
          <% if (user.google.token) { %>
              <p>
                  <%= user.google.name %> (<%= user.google.email %>)
              </p>
              <a href="/unlink/google" class="btn btn-danger">Unlink</a>
          <% } else { %>
              <a href="/connect/google" class="btn btn-danger">Connect YouTube</a>
          <% } %>
      </div>
        <!-- THE YOUTUBE PLAYER -->
        <div class="vid-container">
  		    <iframe id="vid_frame" width="560" height="315" frameborder="0"></iframe>
        </div>

  		  <!-- THE PLAYLIST -->
        <div class="vid-list-container">
            <div id="vid_list" class="vid-list">
            </div>
        </div>

      <!-- LEFT AND RIGHT ARROWS -->
      <div class="arrows">
        <div class="arrow-left"><i class="fa fa-chevron-left fa-lg"></i></div>
        <div class="arrow-right"><i class="fa fa-chevron-right fa-lg"></i></div>
      </div>
    </div>
  </body>
</html>
